/* עיצוב כללי */
.home-container {
  max-width: 1200px;
  margin: 60px auto;
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}


/* סרגל קטגוריות */
.category-bar {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  justify-self: end;
}

.category-btn {
  padding: 8px 25px;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  background-color: #ffffff;
  border: 0.01px solid black;
  transition: background-color 0.3s ease;

}



.category-btn.selected {
  background-color: #d68e00;
  color: white;
}

/* רשימת מוצרים */
.product-list {
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  max-width: 900px;
}

/* עיצוב לכפתור הבא (next) */
button.slick-arrow.slick-next {
  background-color: #d68e00;
  border: none;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

button.slick-arrow.slick-next:hover {
  background-color: #d68e00;
  opacity: 0.8;
}

/* עיצוב לכפתור הקודם (prev) */
button.slick-arrow.slick-prev {
  background-color: #d68e00;
  border: none;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

button.slick-arrow.slick-prev:hover {
  background-color: #d68e00;
  opacity: 0.8;
}
.slick-slider.slick-initialized{
  margin-bottom: 30px;
}